*.iml
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
.DS_Store
build
captures
.metadata
Thumbs.db
libs
app/src/main/assets
private.xml
local.static.properties
